.CFUserTextEncoding
.DS_Store
.esets/
.zsh_history
.viminfo
Applications/
Appz/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
prj/
study/
.config/
.docker/
.lesshst
.local/
.netrc
.node-gyp/
.npm/
.python_history
.ssh/
.vagrant.d/
.vim/.netrwhist
.vscode/
.yarnrc
.zsh_sessions/
VirtualBox VMs/
